
.idea/ChattingSotfware.iml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
图形界面/__pycache__/register.cpython-37.pyc
*.xml
*.pyc
*.xml
*.xml
*.xml
*.xml
